clang_osx-64
clangxx_osx-64
setuptools
python=3.7.8
numpy
gdal >3
freetype
cairo
matplotlib
pandoc
pillow
wxpython
sqlite
jpeg
libpng
libtiff
pkg-config
libiconv
fftw
blas
giflib
proj=6.2.1
geos
krb5
gettext
lastools
ghostscript
zstd
pdal
ply
svn
postgresql
postgis
