# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
# created-by: conda 25.9.1
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/pandoc-3.8.2.1-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-common-0.12.5-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.8-h500dc9f_8.conda
https://conda.anaconda.org/conda-forge/osx-64/c-ares-1.34.5-hf13058a_0.conda
https://conda.anaconda.org/conda-forge/noarch/ca-certificates-2025.11.12-hbd8a1cb_0.conda
https://conda.anaconda.org/conda-forge/noarch/compiler-rt21_osx-64-21.1.6-he0f92a2_0.conda
https://conda.anaconda.org/conda-forge/noarch/font-ttf-dejavu-sans-mono-2.37-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-inconsolata-3.000-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-source-code-pro-2.038-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-ubuntu-0.83-h77eed37_3.conda
https://conda.anaconda.org/conda-forge/osx-64/giflib-5.2.2-h10d778d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/icu-75.1-h120a0e1_0.conda
https://conda.anaconda.org/conda-forge/osx-64/json-c-0.18-hc62ec3d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-headers-1.85.0-h694c41f_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlicommon-1.2.0-h105ed1c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcxx-21.1.6-h3d58e20_0.conda
https://conda.anaconda.org/conda-forge/noarch/libcxx-headers-21.1.6-h707e725_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libdeflate-1.25-h517ebb2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libev-4.33-h10d778d_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libexpat-2.7.3-heffb93a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libfabric1-2.3.1-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libffi-3.5.2-h750e83c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libiconv-1.18-h57a12c2_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libjpeg-turbo-3.1.2-h8616949_0.conda
https://conda.anaconda.org/conda-forge/osx-64/liblzma-5.8.1-hd471939_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libntlm-1.8-h6e16a3a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libopentelemetry-cpp-headers-1.21.0-h694c41f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libutf8proc-2.11.1-h7983711_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libuv-1.51.0-h58003a5_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libwebp-base-1.6.0-hb807250_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libzlib-1.3.1-hd23fc13_2.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-openmp-21.1.6-h472b3d1_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lzo-2.10-h4132b18_1002.conda
https://conda.anaconda.org/conda-forge/osx-64/m4-1.4.20-h6e16a3a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/metis-5.1.0-h3023b02_1007.conda
https://conda.anaconda.org/conda-forge/noarch/mpi-1.0.1-openmpi.conda
https://conda.anaconda.org/conda-forge/osx-64/ncurses-6.5-h0622a9a_3.conda
https://conda.anaconda.org/conda-forge/osx-64/nlohmann_json-3.12.0-h53ec75d_1.conda
https://conda.anaconda.org/conda-forge/osx-64/perl-5.32.1-7_h10d778d_perl5.conda
https://conda.anaconda.org/conda-forge/noarch/poppler-data-0.4.12-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pthread-stubs-0.4-h00291cd_1002.conda
https://conda.anaconda.org/conda-forge/noarch/python_abi-3.12-8_cp312.conda
https://conda.anaconda.org/conda-forge/osx-64/rhash-1.4.6-h6e16a3a_1.conda
https://conda.anaconda.org/conda-forge/osx-64/tzcode-2025b-h6e16a3a_0.conda
https://conda.anaconda.org/conda-forge/noarch/tzdata-2025b-h78e105d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxau-1.0.12-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxdmcp-1.1.5-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-cal-0.9.10-h6b06ba2_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-compression-0.3.1-h7df70e9_8.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-sdkutils-0.2.4-h7df70e9_3.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-checksums-0.2.7-h7df70e9_4.conda
https://conda.anaconda.org/conda-forge/osx-64/compiler-rt21-21.1.6-he914875_0.conda
https://conda.anaconda.org/conda-forge/osx-64/draco-1.5.7-h7728843_0.conda
https://conda.anaconda.org/conda-forge/osx-64/eigen-3.4.0-hfc0b2d5_1.conda
https://conda.anaconda.org/conda-forge/osx-64/expat-2.7.3-heffb93a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/flex-2.6.4-hcc69e7b_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/fmt-12.0.0-h7a3a4f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-forge-1-hc364b38_1.conda
https://conda.anaconda.org/conda-forge/osx-64/geos-3.14.1-he483b9e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gflags-2.2.2-hac325c4_1005.conda
https://conda.anaconda.org/conda-forge/osx-64/ghostscript-10.06.0-heffb93a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/hdf4-4.2.15-h8138101_7.conda
https://conda.anaconda.org/conda-forge/osx-64/lastools-20171231-h046ec9c_1002.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lerc-4.0.0-hcca01a6_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libabseil-20250512.1-cxx17_hfc00f1c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libaec-1.1.4-ha6bc127_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libasprintf-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlidec-1.2.0-h660c9da_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlienc-1.2.0-h2338291_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcrc32c-1.1.2-he49afe7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-devel-21.1.6-h7c275be_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libedit-3.1.20250104-pl5321ha958ccf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libfabric-2.3.1-h694c41f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran5-15.2.0-h336fb69_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libhwy-1.3.0-hab838a1_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libintl-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/liblzma-devel-5.8.1-hd471939_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libpng-1.6.51-h380d223_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libsqlite-3.51.0-h86bffb9_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libsvm-336-h84d585a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxcb-1.17.0-hf1f96e2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-16-2.15.1-ha1d9b0f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lz4-c-1.10.0-h240833e_1.conda
https://conda.anaconda.org/conda-forge/osx-64/muparser-2.3.5-hb996559_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nitro-2.7.dev8-he965462_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nspr-4.38-hee0b3f1_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openssl-3.6.0-h230baf5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pcre2-10.46-ha3e7e28_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pixman-0.46.4-ha059160_1.conda
https://conda.anaconda.org/conda-forge/osx-64/pkg-config-0.29.2-hf7e621a_1009.conda
https://conda.anaconda.org/conda-forge/osx-64/qhull-2020.2-h3c5361c_5.conda
https://conda.anaconda.org/conda-forge/osx-64/readline-8.2-h7cca4af_2.conda
https://conda.anaconda.org/conda-forge/osx-64/snappy-1.2.2-h01f5ddf_1.conda
https://conda.anaconda.org/conda-forge/osx-64/tapi-1300.6.5-h390ca13_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tk-8.6.13-hf689a15_3.conda
https://conda.anaconda.org/conda-forge/osx-64/uriparser-0.9.8-h6aefe2f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xerces-c-3.3.0-hd0321b6_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xz-gpl-tools-5.8.1-h357f2ed_2.conda
https://conda.anaconda.org/conda-forge/osx-64/xz-tools-5.8.1-hd471939_2.conda
https://conda.anaconda.org/conda-forge/osx-64/zlib-1.3.1-hd23fc13_2.conda
https://conda.anaconda.org/conda-forge/osx-64/zlib-ng-2.2.5-h55e386d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/zstd-1.5.7-h8210216_2.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-io-0.23.3-h37ca1a1_3.conda
https://conda.anaconda.org/conda-forge/osx-64/blosc-1.21.6-hd145fbb_1.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-bin-1.2.0-h5c1846c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/capnproto-1.2.0-h1c48def_0.conda
https://conda.anaconda.org/conda-forge/osx-64/compiler-rt-21.1.6-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cpd-0.5.5-h3c5361c_2.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-ecosystem-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gettext-tools-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/glog-0.7.1-h2790a97_0.conda
https://conda.anaconda.org/conda-forge/osx-64/krb5-1.21.3-h37d8d59_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libasprintf-devel-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libevent-2.1.12-ha90c15b_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libfreetype6-2.14.1-h6912278_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgettextpo-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran-15.2.0-h306097a_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libglib-2.86.2-h6ca3a76_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libintl-devel-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libjxl-0.11.1-h4ee1b5b_5.conda
https://conda.anaconda.org/conda-forge/osx-64/libkml-1.3.0-h450b6c2_1022.conda
https://conda.anaconda.org/conda-forge/osx-64/libnghttp2-1.67.0-h3338091_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libprotobuf-6.31.1-h03562ea_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libre2-11-2025.11.05-h554ac88_0.conda
https://conda.anaconda.org/conda-forge/osx-64/librttopo-1.1.0-h16cd5d8_20.conda
https://conda.anaconda.org/conda-forge/osx-64/libssh2-1.11.1-hed3591d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libtiff-4.7.1-ha0a348c_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-2.15.1-h7b7ecba_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libzip-1.11.2-h31df5bb_0.conda
https://conda.anaconda.org/conda-forge/osx-64/minizip-4.0.10-hfb7a1ec_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nss-3.118-h2b2a826_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python-3.12.12-h74c2667_1_cpython.conda
https://conda.anaconda.org/conda-forge/osx-64/sigtool-0.1.3-h88f4db0_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/spdlog-1.16.0-h44026ea_1.conda
https://conda.anaconda.org/conda-forge/osx-64/sqlite-3.51.0-hca40e9d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xz-5.8.1-h357f2ed_2.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-event-stream-0.5.6-he1d6026_6.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-http-0.10.7-hae1f1d1_4.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-1.2.0-hb27157a_0.conda
https://conda.anaconda.org/conda-forge/noarch/cycler-0.12.1-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-64/cyrus-sasl-2.1.28-h610c526_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fftw-3.3.10-nompi_h871bbb0_111.conda
https://conda.anaconda.org/conda-forge/osx-64/freexl-2.0.0-h3183152_2.conda
https://conda.anaconda.org/conda-forge/osx-64/kiwisolver-1.4.9-py312h90e26e8_2.conda
https://conda.anaconda.org/conda-forge/osx-64/lcms2-2.17-h72f5680_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libarchive-3.8.2-gpl_h889603c_100.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-1.85.0-hcca3243_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libcurl-8.17.0-h7dd4100_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libfreetype-2.14.1-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgettextpo-devel-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libhwloc-2.12.1-default_h094e1f9_1002.conda
https://conda.anaconda.org/conda-forge/osx-64/libllvm21-21.1.6-h56e7563_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libopenblas-0.3.30-openmp_h6006d49_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libthrift-0.22.0-h687e942_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-devel-2.15.1-h7b7ecba_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxslt-1.1.43-h486b42e_1.conda
https://conda.anaconda.org/conda-forge/noarch/munkres-1.1.4-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-64/openjpeg-2.5.4-h87e8dc5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/orc-2.2.1-hd1b02dc_0.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-25.0-pyh29332c3_1.conda
https://conda.anaconda.org/conda-forge/noarch/ply-3.11-pyhd8ed1ab_3.conda
https://conda.anaconda.org/conda-forge/noarch/pyparsing-3.2.5-pyhcf101f3_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python.app-1.4-py312h2f459f6_5.conda
https://conda.anaconda.org/conda-forge/osx-64/re2-2025.11.05-h7df6414_0.conda
https://conda.anaconda.org/conda-forge/noarch/setuptools-80.9.0-pyhff2d567_0.conda
https://conda.anaconda.org/conda-forge/noarch/six-1.17.0-pyhe01879c_1.conda
https://conda.anaconda.org/conda-forge/osx-64/tornado-6.5.2-py312h80b0991_2.conda
https://conda.anaconda.org/conda-forge/osx-64/unicodedata2-17.0.0-py312h80b0991_1.conda
https://conda.anaconda.org/conda-forge/noarch/wheel-0.45.1-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-auth-0.9.1-hc522490_7.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-mqtt-0.13.3-h8520d3f_10.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-core-cpp-1.16.1-he2a98a9_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cmake-4.2.0-h29fc008_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fonttools-4.60.1-py312hacf3034_0.conda
https://conda.anaconda.org/conda-forge/osx-64/freetype-2.14.1-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gettext-0.25.1-he52a196_1.conda
https://conda.anaconda.org/conda-forge/osx-64/git-2.52.0-pl5321h4dbcb9b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/hdf5-1.14.6-nompi_hc8237f9_103.conda
https://conda.anaconda.org/conda-forge/osx-64/ld64_osx-64-955.13-llvm21_1_h2cc85ee_9.conda
https://conda.anaconda.org/conda-forge/osx-64/libblas-3.11.0-2_he492b99_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-devel-1.85.0-h2b186f8_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libclang-cpp21.1-21.1.6-default_hc369343_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgrpc-1.73.1-h451496d_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpmix-5.0.8-h7a6afba_2.conda
https://conda.anaconda.org/conda-forge/osx-64/lld-21.1.6-hc570667_0.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-tools-21-21.1.6-h879f4bc_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openblas-0.3.30-openmp_h30af337_4.conda
https://conda.anaconda.org/conda-forge/osx-64/openldap-2.6.10-hd8a590d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pillow-12.0.0-py312h6000a1f_0.conda
https://conda.anaconda.org/conda-forge/noarch/pip-25.3-pyh8b19718_0.conda
https://conda.anaconda.org/conda-forge/osx-64/proj-9.7.0-h3124640_0.conda
https://conda.anaconda.org/conda-forge/osx-64/prometheus-cpp-1.3.0-h7802330_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.9.0.post0-pyhe01879c_2.conda
https://conda.anaconda.org/conda-forge/osx-64/wxwidgets-3.2.8.1-hefad69e_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-s3-0.10.1-h302669f_2.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-identity-cpp-1.13.2-h0e8e1c8_1.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-common-cpp-12.11.0-h56a711b_1.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-21-21.1.6-default_h9f74b92_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fontconfig-2.15.0-h37eeddb_1.conda
https://conda.anaconda.org/conda-forge/osx-64/geotiff-1.7.4-h6952e58_4.conda
https://conda.anaconda.org/conda-forge/osx-64/ld64-955.13-h2eed689_9.conda
https://conda.anaconda.org/conda-forge/osx-64/libcblas-3.11.0-2_h9b27e0a_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libgoogle-cloud-2.39.0-hed66dea_0.conda
https://conda.anaconda.org/conda-forge/osx-64/liblapack-3.11.0-2_h859234e_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libnetcdf-4.9.3-nompi_habf9e57_103.conda
https://conda.anaconda.org/conda-forge/osx-64/libopentelemetry-cpp-1.21.0-h7d3f41d_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpq-18.1-h1e038c5_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libspatialite-5.1.0-gpl_hb921464_119.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-tools-21.1.6-hb0207f0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openmpi-5.0.8-h0c582a8_108.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-crt-cpp-0.35.2-h8562d08_4.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-blobs-cpp-12.15.0-h388f2e7_1.conda
https://conda.anaconda.org/conda-forge/osx-64/cairo-1.18.4-h950ec3b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cctools_osx-64-1024.3-llvm21_1_h81d60ea_9.conda
https://conda.anaconda.org/conda-forge/osx-64/ceres-solver-2.2.0-cpuhf409823_8.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-21.1.6-default_h1323312_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fgt-0.4.11-hf719765_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-core-3.12.0-h6469578_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgoogle-cloud-storage-2.39.0-h8ac052b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/numpy-1.26.4-py312he3a82b2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/postgresql-18.1-haa914b9_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-sdk-cpp-1.11.606-hb13558a_7.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-files-datalake-cpp-12.13.0-h1984e67_1.conda
https://conda.anaconda.org/conda-forge/osx-64/clang_impl_osx-64-21.1.6-h117f370_25.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx-21.1.6-default_h1c12a56_0.conda
https://conda.anaconda.org/conda-forge/osx-64/contourpy-1.3.3-py312hd099df3_3.conda
https://conda.anaconda.org/conda-forge/osx-64/gdal-3.12.0-py312h06e505a_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-python-1.85.0-py312h44e70fa_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-hdf4-3.12.0-h0c59102_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-hdf5-3.12.0-ha7247fd_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-pg-3.12.0-ha20ff9f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-postgisraster-3.12.0-ha20ff9f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-core-2.9.2-h386a899_7.conda
https://conda.anaconda.org/conda-forge/osx-64/poppler-25.07.0-h912db10_1.conda
https://conda.anaconda.org/conda-forge/osx-64/wxpython-4.2.4-py312h1eb2caf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/clang_osx-64-21.1.6-h7e5c614_25.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-20.0.0-h180ff25_29_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-python-devel-1.85.0-py312h0be7463_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-netcdf-3.12.0-hee41eee_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-pdf-3.12.0-hc3030fe_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-cpd-2.9.2-h6f426ef_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-draco-2.9.2-h6f426ef_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-e57-2.9.2-hca01163_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-icebridge-2.9.2-h4956f93_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-nitf-2.9.2-heef15a4_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-pgpointcloud-2.9.2-hb18af05_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-trajectory-2.9.2-he7f4d0c_7.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-base-3.10.8-py312h7894933_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python-pdal-3.5.3-np2py312h876119d_2.conda
https://conda.anaconda.org/conda-forge/osx-64/tiledb-2.29.2-h5f4298d_1.conda
https://conda.anaconda.org/conda-forge/osx-64/boost-1.85.0-h0be7463_4.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx_impl_osx-64-21.1.6-heb9ada7_25.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-acero-20.0.0-h2db2d7d_29_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-tiledb-3.12.0-hfaf54bc_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libparquet-20.0.0-habb56ca_29_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-hdf-2.9.2-h4956f93_7.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-3.10.8-py312hb401068_0.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx_osx-64-21.1.6-h7e5c614_25.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-dataset-20.0.0-h2db2d7d_29_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-tiledb-2.9.2-h0dbcea9_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-arrow-parquet-3.12.0-h37097f2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-arrow-2.9.2-hfba4873_7.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-2.9.2-h6408fa8_7.conda
https://conda.anaconda.org/conda-forge/noarch/pdal-2.9.2-he64977a_0.conda
