# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
# created-by: conda 24.9.0
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/pandoc-3.5-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-common-0.10.0-ha44c9a9_0.conda
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.8-hfdf4475_7.conda
https://conda.anaconda.org/conda-forge/osx-64/c-ares-1.34.3-hf13058a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2024.8.30-h8857fd0_0.conda
https://conda.anaconda.org/conda-forge/noarch/font-ttf-dejavu-sans-mono-2.37-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-inconsolata-3.000-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-source-code-pro-2.038-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-ubuntu-0.83-h77eed37_3.conda
https://conda.anaconda.org/conda-forge/osx-64/giflib-5.2.2-h10d778d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/icu-75.1-h120a0e1_0.conda
https://conda.anaconda.org/conda-forge/osx-64/json-c-0.18-hc62ec3d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-headers-1.85.0-h694c41f_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlicommon-1.1.0-h00291cd_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libcxx-19.1.3-hf95d169_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libdeflate-1.22-h00291cd_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libev-4.33-h10d778d_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libexpat-2.6.4-h240833e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libffi-3.4.2-h0d85af4_5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libgcc-4.8.5-1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libiconv-1.17-hd75f5a5_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libjpeg-turbo-3.0.0-h0dc2134_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libntlm-1.4-h0d85af4_1002.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libutf8proc-2.8.0-hb7f2c08_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libuv-1.49.2-hd79239c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libwebp-base-1.4.0-h10d778d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libzlib-1.3.1-hd23fc13_2.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-openmp-19.1.3-hf78d878_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lzo-2.10-h10d778d_1001.conda
https://conda.anaconda.org/conda-forge/osx-64/metis-5.1.0-h3023b02_1007.conda
https://conda.anaconda.org/conda-forge/osx-64/mpi-1.0-openmpi.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ncurses-6.5-hf036a51_1.conda
https://conda.anaconda.org/conda-forge/osx-64/perl-5.32.1-7_h10d778d_perl5.conda
https://conda.anaconda.org/conda-forge/noarch/poppler-data-0.4.12-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pthread-stubs-0.4-h00291cd_1002.conda
https://conda.anaconda.org/conda-forge/osx-64/python_abi-3.12-5_cp312.conda
https://conda.anaconda.org/conda-forge/osx-64/rhash-1.4.5-ha44c9a9_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tzcode-2024b-h00291cd_0.conda
https://conda.anaconda.org/conda-forge/noarch/tzdata-2024b-hc8b5060_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxau-1.0.11-h00291cd_1.conda
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxdmcp-1.1.5-h00291cd_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xz-5.2.6-h775f41a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/aws-c-compression-0.3.0-h814e318_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-sdkutils-0.2.1-hc280b33_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-checksums-0.2.0-h814e318_1.conda
https://conda.anaconda.org/conda-forge/osx-64/draco-1.5.7-h7728843_0.conda
https://conda.anaconda.org/conda-forge/osx-64/eigen-3.4.0-h1c7c39f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/expat-2.6.4-h240833e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fmt-11.0.2-h3c5361c_0.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-forge-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/geos-3.13.0-hac325c4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gflags-2.2.2-hac325c4_1005.conda
https://conda.anaconda.org/conda-forge/osx-64/ghostscript-10.04.0-hac325c4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gmp-6.3.0-hf036a51_2.conda
https://conda.anaconda.org/conda-forge/osx-64/hdf4-4.2.15-h8138101_7.conda
https://conda.anaconda.org/conda-forge/osx-64/lapack-3.6.1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lastools-20171231-h046ec9c_1002.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lerc-4.0.0-hb486fe8_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libabseil-20240722.0-cxx17_hac325c4_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libaec-1.1.3-h73e2aa4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libasprintf-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlidec-1.1.0-h00291cd_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlienc-1.1.0-h00291cd_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libcrc32c-1.1.2-he49afe7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-devel-19.1.3-h7c275be_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libedit-3.1.20191231-h0678c8f_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libgfortran5-13.2.0-h2873a65_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libintl-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libpng-1.6.44-h4b8f8c9_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libsqlite-3.47.0-h2f8c449_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libsvm-335-hac325c4_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libxcb-1.17.0-hf1f96e2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-2.13.4-h12808cf_2.conda
https://conda.anaconda.org/conda-forge/osx-64/lz4-c-1.9.4-hf0c8a7f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nitro-2.7.dev8-he965462_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nspr-4.36-h97d8b74_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openssl-3.3.2-hd23fc13_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pcre2-10.44-h7634a1b_2.conda
https://conda.anaconda.org/conda-forge/osx-64/pixman-0.43.4-h73e2aa4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pkg-config-0.29.2-hf7e621a_1009.conda
https://conda.anaconda.org/conda-forge/osx-64/qhull-2020.2-h3c5361c_5.conda
https://conda.anaconda.org/conda-forge/osx-64/readline-8.2-h9e318b2_1.conda
https://conda.anaconda.org/conda-forge/osx-64/snappy-1.2.1-he1e6707_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tapi-1300.6.5-h390ca13_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tk-8.6.13-h1abcd95_1.conda
https://conda.anaconda.org/conda-forge/osx-64/uriparser-0.9.8-h6aefe2f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xerces-c-3.2.5-h197e74d_2.conda
https://conda.anaconda.org/conda-forge/osx-64/zlib-1.3.1-hd23fc13_2.conda
https://conda.anaconda.org/conda-forge/osx-64/zstd-1.5.6-h915ae27_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-cal-0.8.0-h814e318_1.conda
https://conda.anaconda.org/conda-forge/osx-64/blosc-1.21.6-h7d75f6d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-bin-1.1.0-h00291cd_2.conda
https://conda.anaconda.org/conda-forge/osx-64/capnproto-1.0.2-h1c0ecac_3.conda
https://conda.anaconda.org/conda-forge/osx-64/cpd-0.5.5-h3c5361c_2.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-ecosystem-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/freetype-2.12.1-h60636b9_2.conda
https://conda.anaconda.org/conda-forge/osx-64/gettext-tools-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/glog-0.7.1-h2790a97_0.conda
https://conda.anaconda.org/conda-forge/osx-64/krb5-1.21.3-h37d8d59_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libarchive-3.7.4-h20e244c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libasprintf-devel-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-1.85.0-hcca3243_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libevent-2.1.12-ha90c15b_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libgettextpo-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran-5.0.0-13_2_0_h97931a8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libglib-2.82.2-hb6ef654_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libhwloc-2.11.2-default_hb6fbd3b_1000.conda
https://conda.anaconda.org/conda-forge/osx-64/libintl-devel-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libkml-1.3.0-h9ee1731_1021.conda
https://conda.anaconda.org/conda-forge/osx-64/libllvm19-19.1.3-h1e63acb_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libnghttp2-1.64.0-hc7306c3_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libprotobuf-5.28.2-h8b30cf6_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libre2-11-2024.07.02-hd530cb8_1.conda
https://conda.anaconda.org/conda-forge/osx-64/librttopo-1.1.0-hdfb80b9_17.conda
https://conda.anaconda.org/conda-forge/osx-64/libssh2-1.11.0-hd019ec5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libtiff-4.7.0-h583c2ba_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libxslt-1.1.39-h03b04e6_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libzip-1.11.2-h31df5bb_0.conda
https://conda.anaconda.org/conda-forge/osx-64/minizip-4.0.7-h62b0c8d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/mpfr-4.2.1-haed47dc_3.conda
https://conda.anaconda.org/conda-forge/osx-64/nss-3.106-hbde9d96_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python-3.12.7-h8f8b54e_0_cpython.conda
https://conda.anaconda.org/conda-forge/osx-64/sigtool-0.1.3-h88f4db0_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/spdlog-1.14.1-h325aa07_1.conda
https://conda.anaconda.org/conda-forge/osx-64/sqlite-3.47.0-h6285a30_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-io-0.15.1-h33d4847_1.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-1.1.0-h00291cd_2.conda
https://conda.anaconda.org/conda-forge/noarch/certifi-2024.8.30-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/cycler-0.12.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cyrus-sasl-2.1.27-hf9bab2b_7.conda
https://conda.anaconda.org/conda-forge/osx-64/fftw-3.3.10-nompi_h292e606_110.conda
https://conda.anaconda.org/conda-forge/osx-64/fontconfig-2.15.0-h37eeddb_1.conda
https://conda.anaconda.org/conda-forge/osx-64/freexl-2.0.0-h3ec172f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/kiwisolver-1.4.7-py312hc5c4d5f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lcms2-2.16-ha2f27b4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/ld64_osx-64-951.9-h3c7722d_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-devel-1.85.0-h2b186f8_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libclang-cpp19.1-19.1.3-default_hed3c1ff_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcurl-8.10.1-h58e7537_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgettextpo-devel-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libopenblas-0.3.28-openmp_hbf64a52_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libthrift-0.21.0-h75589b3_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lld-19.1.3-h91be16d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-tools-19-19.1.3-h65ece69_0.conda
https://conda.anaconda.org/conda-forge/noarch/munkres-1.1.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openjpeg-2.5.2-h7310d3a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openmpi-5.0.5-h4a6bc07_103.conda
https://conda.anaconda.org/conda-forge/osx-64/orc-2.0.2-hb8ce1e1_2.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-24.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/ply-3.11-pyhd8ed1ab_2.conda
https://conda.anaconda.org/conda-forge/noarch/pyparsing-3.2.0-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-64/python.app-1.4-py312hb553811_4.conda
https://conda.anaconda.org/conda-forge/osx-64/re2-2024.07.02-h2fb0a26_1.conda
https://conda.anaconda.org/conda-forge/noarch/setuptools-75.3.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/six-1.16.0-pyh6c4a22f_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/tbb-2022.0.0-h0ec6371_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tornado-6.4.1-py312hb553811_1.conda
https://conda.anaconda.org/conda-forge/osx-64/unicodedata2-15.1.0-py312h3d0f464_1.conda
https://conda.anaconda.org/conda-forge/noarch/wheel-0.45.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-event-stream-0.5.0-hbfe8335_4.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-http-0.9.0-h8316fcd_5.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-core-cpp-1.14.0-h9a36307_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cairo-1.18.0-h37bd5c4_3.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-19-19.1.3-default_hed3c1ff_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cmake-3.30.5-h7243fc2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fgt-0.4.11-hf719765_1.conda
https://conda.anaconda.org/conda-forge/osx-64/fonttools-4.54.1-py312hbe3f5e4_1.conda
https://conda.anaconda.org/conda-forge/osx-64/gettext-0.22.5-hdfe23c8_3.conda
https://conda.anaconda.org/conda-forge/osx-64/git-2.47.0-pl5321ha198fdc_0.conda
https://conda.anaconda.org/conda-forge/osx-64/hdf5-1.14.3-nompi_h687a608_105.conda
https://conda.anaconda.org/conda-forge/osx-64/libblas-3.9.0-25_osx64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libgrpc-1.67.1-he6e0b18_0.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-tools-19.1.3-h062cec2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openblas-0.3.28-openmp_h30af337_1.conda
https://conda.anaconda.org/conda-forge/osx-64/openldap-2.6.8-hcd2896d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pillow-11.0.0-py312h66fe14f_0.conda
https://conda.anaconda.org/conda-forge/noarch/pip-24.3.1-pyh8b19718_0.conda
https://conda.anaconda.org/conda-forge/osx-64/proj-9.5.0-h70d2bda_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.9.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/wxwidgets-3.2.5-h9e86f5b_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-auth-0.8.0-h69e5304_7.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-mqtt-0.11.0-hec7e333_5.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-identity-cpp-1.10.0-ha4e2ba9_0.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-common-cpp-12.8.0-h1ccc5ac_1.conda
https://conda.anaconda.org/conda-forge/osx-64/cctools_osx-64-1010.6-hd0ff2cf_1.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-19.1.3-default_h4bb2e93_0.conda
https://conda.anaconda.org/conda-forge/osx-64/geotiff-1.7.3-h2b6e260_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libcblas-3.9.0-25_osx64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libgoogle-cloud-2.31.0-hd00c612_0.conda
https://conda.anaconda.org/conda-forge/osx-64/liblapack-3.9.0-25_osx64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libnetcdf-4.9.2-nompi_h7334405_114.conda
https://conda.anaconda.org/conda-forge/osx-64/libpq-17.0-ha324e28_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libspatialite-5.1.0-hc43c327_11.conda
https://conda.anaconda.org/conda-forge/osx-64/poppler-24.08.0-h65860a0_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-s3-0.7.0-hdbd2099_7.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-blobs-cpp-12.13.0-h3d2f5f1_1.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx-19.1.3-default_h4bb2e93_0.conda
https://conda.anaconda.org/conda-forge/noarch/compiler-rt_osx-64-19.1.3-h9518668_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-core-3.9.3-hd3a0912_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libgoogle-cloud-storage-2.31.0-h3f2b517_0.conda
https://conda.anaconda.org/conda-forge/osx-64/liblapacke-3.9.0-25_osx64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/numpy-2.1.3-py312hfc93d17_0.conda
https://conda.anaconda.org/conda-forge/osx-64/postgresql-17.0-h88d1a9c_4.conda
https://conda.anaconda.org/conda-forge/osx-64/suitesparse-7.8.3-h51aacc0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-crt-cpp-0.29.3-h9d5f034_2.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-files-datalake-cpp-12.12.0-h86941f0_1.conda
https://conda.anaconda.org/conda-forge/osx-64/blas-devel-3.9.0-25_osx64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/ceres-solver-2.2.0-h337fa08_4.conda
https://conda.anaconda.org/conda-forge/osx-64/compiler-rt-19.1.3-hf2491d2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/contourpy-1.3.0-py312h2a50410_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-python-1.85.0-py312h44e70fa_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-hdf4-3.9.3-hab2e468_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-hdf5-3.9.3-hbfbb268_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-pdf-3.9.3-h3110bda_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-pg-3.9.3-h8e85347_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-postgisraster-3.9.3-h8e85347_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-core-2.8.1-h66c2a0b_1.conda
https://conda.anaconda.org/conda-forge/osx-64/wxpython-4.2.1-py312h8ca7dfc_7.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-sdk-cpp-1.11.407-hd94a03e_9.conda
https://conda.anaconda.org/conda-forge/osx-64/blas-2.125-openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/clang_impl_osx-64-19.1.3-h1fa0277_21.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-python-devel-1.85.0-py312h0be7463_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-netcdf-3.9.3-h8b8f9d1_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-cpd-2.8.1-ha2cd848_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-draco-2.8.1-ha2cd848_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-e57-2.8.1-h8ea1bcd_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-icebridge-2.8.1-h6412a13_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-nitf-2.8.1-h3749081_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-pgpointcloud-2.8.1-hd2456fd_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-trajectory-2.8.1-h4cdfbff_1.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-base-3.9.2-py312h30cc4df_2.conda
https://conda.anaconda.org/conda-forge/osx-64/python-pdal-3.4.5-py312h7df2215_12.conda
https://conda.anaconda.org/conda-forge/osx-64/boost-1.85.0-h0be7463_4.conda
https://conda.anaconda.org/conda-forge/osx-64/clang_osx-64-19.1.3-hb91bd55_21.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-17.0.0-h055a9bd_28_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-hdf-2.8.1-h6412a13_1.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-3.9.2-py312hb401068_2.conda
https://conda.anaconda.org/conda-forge/osx-64/tiledb-2.26.2-h5ea9c84_8.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx_impl_osx-64-19.1.3-h5b10c28_21.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-acero-17.0.0-h240833e_28_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-tiledb-3.9.3-hf567a2e_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libparquet-17.0.0-hc957f30_28_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx_osx-64-19.1.3-hb91bd55_21.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-dataset-17.0.0-h240833e_28_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-tiledb-2.8.1-h4bc493d_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-arrow-parquet-3.9.3-h5a4eb63_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-arrow-2.8.1-h9f8fe33_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-2.8.1-h694c41f_1.conda
https://conda.anaconda.org/conda-forge/noarch/pdal-2.8.1-hd8ed1ab_0.conda
