# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-arm64/pandoc-2.19.2-hce30654_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/bzip2-1.0.8-h3422bc3_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/c-ares-1.18.1-h3422bc3_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/ca-certificates-2022.12.7-h4653dfc_0.conda
https://conda.anaconda.org/conda-forge/noarch/font-ttf-dejavu-sans-mono-2.37-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-inconsolata-3.000-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-source-code-pro-2.038-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-ubuntu-0.83-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/freexl-1.0.6-h1a8c8d9_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/giflib-5.2.1-h1a8c8d9_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/jpeg-9e-h1a8c8d9_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/json-c-0.16-hc449e50_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libbrotlicommon-1.0.9-h1a8c8d9_8.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libcxx-16.0.1-h75e25f2_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libdeflate-1.17-h1a8c8d9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libev-4.33-h642e427_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libexpat-2.5.0-hb7217d7_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libffi-3.4.2-h3422bc3_5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libiconv-1.17-he4db4b2_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libuv-1.44.2-he4db4b2_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libwebp-base-1.3.0-h1a8c8d9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libzlib-1.2.13-h03a7124_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/llvm-openmp-16.0.1-h7cfbb63_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/metis-5.1.0-h9f76cd9_1006.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/ncurses-6.3-h07bb92c_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/perl-5.32.1-2_h9b22ae9_perl5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/pixman-0.40.0-h27ca646_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/poppler-data-0.4.12-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pthread-stubs-0.4-h27ca646_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/python_abi-3.11-3_cp311.conda
https://conda.anaconda.org/conda-forge/osx-arm64/rhash-1.4.3-he4db4b2_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/tzcode-2023c-h1a8c8d9_0.conda
https://conda.anaconda.org/conda-forge/noarch/tzdata-2023c-h71feb2d_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/xorg-libxau-1.0.9-h27ca646_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/xorg-libxdmcp-1.1.3-h27ca646_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/xz-5.2.6-h57fd34a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/draco-1.5.6-hffc8910_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/eigen-3.4.0-hc021e02_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/expat-2.5.0-hb7217d7_1.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-forge-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/geos-3.11.1-hb7217d7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/gettext-0.21.1-h0186832_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/gflags-2.2.2-hc88da5d_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/ghostscript-9.54.0-h6b3803e_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/gmp-6.2.1-h9f76cd9_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/icu-70.1-h6b3803e_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/lastools-v2.0.2-hb7217d7_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/lerc-4.0.0-h9a09cb3_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libaec-1.0.6-hb7217d7_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libbrotlidec-1.0.9-h1a8c8d9_8.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libbrotlienc-1.0.9-h1a8c8d9_8.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libedit-3.1.20191231-hc8eb9b7_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libgfortran5-12.2.0-h0eea778_31.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libpng-1.6.39-h76d750c_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsqlite-3.40.0-h76d750c_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libxcb-1.13-h9b22ae9_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/lz4-c-1.9.4-hb7217d7_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/nitro-2.7.dev6-hb7217d7_5.conda
https://conda.anaconda.org/conda-forge/osx-arm64/nspr-4.35-hb7217d7_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openssl-3.1.0-h03a7124_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pcre2-10.40-hb34f9b4_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/readline-8.2-h92ec313_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/snappy-1.1.10-h17c5cce_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tapi-1100.0.11-he4954df_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/tbb-2021.9.0-hffc8910_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tk-8.6.12-he1e0b03_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/zlib-1.2.13-h03a7124_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/zstd-1.5.2-hf913c23_6.conda
https://conda.anaconda.org/conda-forge/osx-arm64/blosc-1.21.3-h1d6ff8b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/boost-cpp-1.78.0-hf1d6563_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/brotli-bin-1.0.9-h1a8c8d9_8.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-ecosystem-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/freetype-2.12.1-hd633e50_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/glog-0.6.0-h6da1cb0_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/hdf4-4.2.15-h1a38d6a_5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/krb5-1.20.1-h69eda48_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libgfortran-5.0.0-12_2_0_hd922786_31.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libglib-2.76.1-h4646484_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libnghttp2-1.52.0-hae82a92_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/librttopo-1.1.0-h844f84d_12.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libssh2-1.10.0-h7a5bd25_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libtiff-4.5.0-h5dffbdd_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libxml2-2.10.3-h67585b2_4.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libzip-1.9.2-h76ab92c_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/mpfr-4.2.0-he09a6ba_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/nss-3.89-h789eff7_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python-3.11.3-h1456518_0_cpython.conda
https://conda.anaconda.org/conda-forge/osx-arm64/sigtool-0.1.3-h44b9a77_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/sqlite-3.40.0-h2229b38_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/brotli-1.0.9-h1a8c8d9_8.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/certifi-2022.12.7-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/charset-normalizer-3.1.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/cycler-0.11.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/fftw-3.3.10-nompi_h3046061_107.conda
https://conda.anaconda.org/conda-forge/osx-arm64/fontconfig-2.14.2-h82840c6_0.conda
https://conda.anaconda.org/conda-forge/noarch/idna-3.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/kiwisolver-1.4.4-py311hd6ee22a_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/lcms2-2.15-h481adae_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libcurl-8.0.1-heffe338_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libkml-1.3.0-h41464e4_1015.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libllvm16-16.0.1-h1e5164c_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libopenblas-0.3.21-openmp_hc731615_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libpq-15.2-h1a28acd_0.conda
https://conda.anaconda.org/conda-forge/noarch/munkres-1.1.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/openjpeg-2.5.0-hbc2ba62_2.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-23.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pkg-config-0.29.2-hab62308_1008.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ply-3.11-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.21-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-3.0.9-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pysocks-1.7.1-pyha2e5f31_6.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/python.app-1.4-py311heec17e0_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/setuptools-67.7.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/six-1.16.0-pyh6c4a22f_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/tornado-6.3-py311he2be06e_0.conda
https://conda.anaconda.org/conda-forge/noarch/wheel-0.40.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/cairo-1.16.0-h73a0509_1014.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/cffi-1.15.1-py311hae827db_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/cfitsio-4.2.0-h2f961c4_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/cmake-3.26.3-hf234bd0_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/curl-8.0.1-heffe338_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/fonttools-4.39.3-py311he2be06e_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/hdf5-1.12.2-nompi_ha7af310_101.conda
https://conda.anaconda.org/conda-forge/osx-arm64/ld64_osx-64-609-h8702dab_13.conda
https://conda.anaconda.org/conda-forge/osx-arm64/ld64_osx-arm64-609-h297e91e_13.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libblas-3.9.0-16_osxarm64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libclang-cpp16-16.0.1-default_he7141eb_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/llvm-tools-16.0.1-h1e5164c_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openblas-0.3.21-openmp_hf78f355_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/pathlib2-2.3.7.post1-py311h267d04e_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/pillow-9.4.0-py311h627eb56_1.conda
https://conda.anaconda.org/conda-forge/noarch/pip-23.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/postgresql-15.2-h45c140d_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/proj-9.1.1-h13f728c_2.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/xerces-c-3.2.4-h627aa08_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/brotlipy-0.7.0-py311he2be06e_1005.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/cctools_osx-64-973.0.1-ha9f74c9_13.conda
https://conda.anaconda.org/conda-forge/osx-arm64/cctools_osx-arm64-973.0.1-h7a0f565_13.conda
https://conda.anaconda.org/conda-forge/osx-arm64/clang-16-16.0.1-default_he7141eb_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/cryptography-40.0.2-py311h507f6e9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/geotiff-1.7.1-hdcdc974_6.conda
https://conda.anaconda.org/conda-forge/osx-arm64/git-2.40.0-pl5321h64a6652_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/kealib-1.5.0-hfd766a6_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libcblas-3.9.0-16_osxarm64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/liblapack-3.9.0-16_osxarm64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libnetcdf-4.9.1-nompi_h232cb48_101.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libspatialite-5.0.1-h14115fc_23.conda
https://conda.anaconda.org/conda-forge/osx-arm64/poppler-23.03.0-h9564b9f_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tiledb-2.13.2-h9bd36d0_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/clang-16.0.1-h1e5164c_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/lapack-3.9.0-netlib.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libgdal-3.6.2-h8d4b95d_9.conda
https://conda.anaconda.org/conda-forge/osx-arm64/liblapacke-3.9.0-16_osxarm64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/numpy-1.24.2-py311h60f8152_0.conda
https://conda.anaconda.org/conda-forge/noarch/pyopenssl-23.1.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/suitesparse-5.10.1-h7cd81ec_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/blas-devel-3.9.0-16_osxarm64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/ceres-solver-2.1.0-ha0d94fb_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/clangxx-16.0.1-default_ha0f6327_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/contourpy-1.0.7-py311hd6ee22a_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/gdal-3.6.2-py311h43bd5d3_9.conda
https://conda.anaconda.org/conda-forge/noarch/urllib3-1.26.15-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/blas-2.116-openblas.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/compiler-rt_osx-arm64-16.0.1-h30b49de_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/matplotlib-base-3.7.1-py311h99a5f44_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pdal-2.5.2-h0b95922_1.conda
https://conda.anaconda.org/conda-forge/noarch/requests-2.28.2-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/compiler-rt-16.0.1-h30b49de_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/matplotlib-3.7.1-py311ha1ab1f8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/wxpython-4.2.0-py311hf132ccb_5.conda
https://conda.anaconda.org/conda-forge/osx-arm64/clang_osx-64-16.0.1-hde618b4_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/clangxx_osx-64-16.0.1-h69ba234_1.conda
