# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.8-h0d85af4_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/c-ares-1.18.1-h0d85af4_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ca-certificates-2022.12.7-h033912b_0.conda
https://conda.anaconda.org/conda-forge/noarch/font-ttf-dejavu-sans-mono-2.37-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-inconsolata-3.000-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-source-code-pro-2.038-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-ubuntu-0.83-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/freexl-1.0.6-hb7f2c08_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/giflib-5.2.1-hb7f2c08_3.conda
https://conda.anaconda.org/conda-forge/osx-64/jpeg-9e-hb7f2c08_3.conda
https://conda.anaconda.org/conda-forge/osx-64/json-c-0.16-h01d06f9_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libbrotlicommon-1.0.9-hb7f2c08_8.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-16.0.1-h71dddab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libdeflate-1.17-hac1461d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libev-4.33-haf1e3a3_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libexpat-2.5.0-hf0c8a7f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libffi-3.4.2-h0d85af4_5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libiconv-1.17-hac89ed1_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libuv-1.44.2-hac89ed1_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libwebp-base-1.3.0-hb7f2c08_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libzlib-1.2.13-hfd90126_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/llvm-openmp-16.0.1-h61d9ccf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/metis-5.1.0-h2e338ed_1006.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ncurses-6.3-h96cf925_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/perl-5.32.1-2_h0d85af4_perl5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pixman-0.40.0-hbcb3906_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/poppler-data-0.4.12-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pthread-stubs-0.4-hc929b4f_1001.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python_abi-3.11-3_cp311.conda
https://conda.anaconda.org/conda-forge/osx-64/rhash-1.4.3-hac89ed1_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/tzcode-2023c-hb7f2c08_0.conda
https://conda.anaconda.org/conda-forge/noarch/tzdata-2023c-h71feb2d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxau-1.0.9-h35c211d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxdmcp-1.1.3-h35c211d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/xz-5.2.6-h775f41a_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/draco-1.5.6-hb8565cd_0.conda
https://conda.anaconda.org/conda-forge/osx-64/eigen-3.4.0-h940c156_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/expat-2.5.0-hf0c8a7f_1.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-forge-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/geos-3.11.1-hf0c8a7f_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gettext-0.21.1-h8a4c099_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gflags-2.2.2-hb1e8313_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ghostscript-9.54.0-h96cf925_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gmp-6.2.1-h2e338ed_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/icu-70.1-h96cf925_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lastools-20171231-h046ec9c_1002.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lerc-4.0.0-hb486fe8_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libaec-1.0.6-hf0c8a7f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlidec-1.0.9-hb7f2c08_8.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libbrotlienc-1.0.9-hb7f2c08_8.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libedit-3.1.20191231-h0678c8f_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libgfortran5-12.2.0-he409387_31.conda
https://conda.anaconda.org/conda-forge/osx-64/libpng-1.6.39-ha978bb4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libsqlite-3.40.0-ha978bb4_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libxcb-1.13-h0d85af4_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lz4-c-1.9.4-hf0c8a7f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nitro-2.7.dev6-hf0c8a7f_5.conda
https://conda.anaconda.org/conda-forge/osx-64/nspr-4.35-hea0b92c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openssl-3.1.0-hfd90126_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pandoc-3.1.1-h9d075a6_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pcre-8.45-he49afe7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pcre2-10.40-h1c4e4bc_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pkg-config-0.29.2-ha3d46e9_1008.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/readline-8.2-h9e318b2_1.conda
https://conda.anaconda.org/conda-forge/osx-64/snappy-1.1.10-h225ccf5_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tapi-1100.0.11-h9ce4665_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/tbb-2021.9.0-hb8565cd_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tk-8.6.12-h5dbffcc_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/zlib-1.2.13-hfd90126_4.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/zstd-1.5.2-hbc0c0cd_6.conda
https://conda.anaconda.org/conda-forge/osx-64/blosc-1.21.2-hebb52c4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/boost-cpp-1.78.0-h31500c2_2.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-bin-1.0.9-hb7f2c08_8.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-ecosystem-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/freetype-2.12.1-h3f81eb7_1.conda
https://conda.anaconda.org/conda-forge/osx-64/glog-0.6.0-h8ac2a54_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/hdf4-4.2.15-h7aa5921_5.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/krb5-1.20.1-h049b76e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran-5.0.0-11_3_0_h97931a8_31.conda
https://conda.anaconda.org/conda-forge/osx-64/libglib-2.76.1-h4c723e1_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libnghttp2-1.52.0-he2ab024_0.conda
https://conda.anaconda.org/conda-forge/osx-64/librttopo-1.1.0-h9461dca_12.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libssh2-1.10.0-h47af595_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libtiff-4.5.0-hee9004a_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-2.10.3-h201ad9d_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libzip-1.9.2-h6db710c_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/mpfr-4.2.0-h4f9bd69_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nss-3.89-h78b00b3_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python-3.11.3-h99528f9_0_cpython.conda
https://conda.anaconda.org/conda-forge/osx-64/sigtool-0.1.3-h88f4db0_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/sqlite-3.40.0-h9ae0607_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/brotli-1.0.9-hb7f2c08_8.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/certifi-2022.12.7-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/charset-normalizer-3.1.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/cycler-0.11.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/fftw-3.3.10-nompi_h4fa670e_107.conda
https://conda.anaconda.org/conda-forge/osx-64/fontconfig-2.14.2-h5bb23bf_0.conda
https://conda.anaconda.org/conda-forge/noarch/idna-3.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/kiwisolver-1.4.4-py311hd2070f0_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lcms2-2.15-h29502cd_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcurl-8.0.1-h1fead75_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libkml-1.3.0-haeb80ef_1015.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libllvm16-16.0.1-h7001e86_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libopenblas-0.3.21-openmp_h429af6e_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libpq-15.2-h3640bf0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxslt-1.1.37-h5d22bc9_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/munkres-1.1.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/openjpeg-2.5.0-h13ac156_2.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-23.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/ply-3.11-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.21-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-3.0.9-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pysocks-1.7.1-pyha2e5f31_6.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/python.app-1.4-py311h5547dcb_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/setuptools-67.7.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/six-1.16.0-pyh6c4a22f_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/tornado-6.3-py311h5547dcb_0.conda
https://conda.anaconda.org/conda-forge/noarch/wheel-0.40.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cairo-1.16.0-h904041c_1014.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cffi-1.15.1-py311ha86e640_3.conda
https://conda.anaconda.org/conda-forge/osx-64/cfitsio-4.2.0-hd56cc12_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cmake-3.26.3-h4032537_0.conda
https://conda.anaconda.org/conda-forge/osx-64/curl-8.0.1-h1fead75_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fonttools-4.39.3-py311h5547dcb_0.conda
https://conda.anaconda.org/conda-forge/osx-64/hdf5-1.12.2-nompi_h48135f9_101.conda
https://conda.anaconda.org/conda-forge/osx-64/ld64_osx-64-609-hbfe4790_13.conda
https://conda.anaconda.org/conda-forge/osx-64/libblas-3.9.0-16_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libclang-cpp16-16.0.1-default_hd25f202_0.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-tools-16.0.1-h7001e86_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openblas-0.3.21-openmp_hbefa662_3.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pathlib2-2.3.7.post1-py311h6eed73b_2.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/pillow-9.4.0-py311h5bae705_1.conda
https://conda.anaconda.org/conda-forge/noarch/pip-23.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/postgresql-15.2-hbea33b9_0.conda
https://conda.anaconda.org/conda-forge/osx-64/proj-9.1.1-hf909084_2.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/xerces-c-3.2.4-h2007e90_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/brotlipy-0.7.0-py311h5547dcb_1005.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/cctools_osx-64-973.0.1-h5676edf_13.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-16-16.0.1-default_hd25f202_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cryptography-40.0.2-py311h61927ef_0.conda
https://conda.anaconda.org/conda-forge/osx-64/geotiff-1.7.1-hd690177_6.conda
https://conda.anaconda.org/conda-forge/osx-64/git-2.40.0-pl5321h33fe9b8_1.conda
https://conda.anaconda.org/conda-forge/osx-64/kealib-1.5.0-h5c1f988_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcblas-3.9.0-16_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/liblapack-3.9.0-16_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libnetcdf-4.9.1-nompi_h56690a0_101.conda
https://conda.anaconda.org/conda-forge/osx-64/libspatialite-5.0.1-hd6e941a_23.conda
https://conda.anaconda.org/conda-forge/osx-64/poppler-23.03.0-h6e9091c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tiledb-2.13.2-h8b9cbf0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-16.0.1-h49458c0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lapack-3.9.0-netlib.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libgdal-3.6.2-hd7924a8_9.conda
https://conda.anaconda.org/conda-forge/osx-64/liblapacke-3.9.0-16_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/numpy-1.24.2-py311ha9d2c9f_0.conda
https://conda.anaconda.org/conda-forge/noarch/pyopenssl-23.1.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/suitesparse-5.10.1-h7aff33d_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/blas-devel-3.9.0-16_osx64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/ceres-solver-2.1.0-h636452b_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/clangxx-16.0.1-default_hd25f202_0.conda
https://conda.anaconda.org/conda-forge/osx-64/contourpy-1.0.7-py311hd2070f0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gdal-3.6.2-py311h619941e_9.conda
https://conda.anaconda.org/conda-forge/osx-64/postgis-3.3.2-h04f7acd_3.conda
https://conda.anaconda.org/conda-forge/noarch/urllib3-1.26.15-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/blas-2.116-openblas.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/compiler-rt_osx-64-16.0.1-h613da45_0.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-base-3.7.1-py311h2bf763f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pdal-2.5.2-he374a05_1.conda
https://conda.anaconda.org/conda-forge/noarch/requests-2.28.2-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-64/compiler-rt-16.0.1-h613da45_0.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-3.7.1-py311h6eed73b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/wxpython-4.2.0-py311hb6deb79_5.conda
https://conda.anaconda.org/conda-forge/osx-64/clang_osx-64-16.0.1-hac0a0c4_1.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx_osx-64-16.0.1-h950475c_1.conda
