blas
boost
cairo
clang_osx-64
clangxx_osx-64
cmake
fftw
freetype
geos
gettext
ghostscript
giflib
git
libjpeg-turbo
krb5
lapack
lastools
libgdal-arrow-parquet
libgdal-core
libgdal-hdf4
libgdal-hdf5
libgdal-netcdf
libgdal-pdf
libgdal-pg
libgdal-postgisraster
libgdal-tiledb
libiconv
libpng
libsvm
libtiff
llvm-openmp
matplotlib
numpy
pandoc
pdal
pillow
pkg-config
ply
postgresql
proj
python<3.12
python.app
setuptools
six
sqlite
wxpython
zstd
